<footer>
  <div class="footer container column align-items-center justify-content-center">
    <ul class="languages footer--block text-align-center">
      <!-- TODO: remove fake next line -->
      <li class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0"><a href="/{{lang[0]}}">hello this english</a></li>
      {% for lang in site.data.languages %}
        {% assign language = lang[1] %}
        <li class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0"><a href="/{{lang[0]}}">{{language.icon}} {{ language.label }} ({{ lang[0] }})</a></li>
      {% endfor %}
    </ul>
  </div> 
</footer>
