<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/the-grid-flexbox@2.0.1/css/the-grid.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="shortcut icon" href="{{site.url}}{{site.baseurl}}/assets/img/favicon.png">
  <link rel="icon" href="{{site.url}}{{site.baseurl}}/assets/img/favicon.png">

  <!-- facebook -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="{{site.url}}{{site.baseurl}}/assets/img/image.png" />
  <meta property="fb:app_id" content="1154262757941899" />
  <meta property="fb:admins" content="100002787447461" />
  <!-- facebook -->

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}/assets/img/image.png">
  <meta itemprop="name" content="{{ site.title }}">
  <meta itemprop="description" content="{{ site.description }}">
  <meta itemprop="image" content="{{site.url}}{{site.baseurl}}/assets/img/image.png">
  <!-- twitter -->
</head>
