<header>

<div class="header container align-items-center justify-content-center">
  <div class="header--block size margin container column">
    <div class="header--block--text">
      Advice and answers from the WeDeploy Team
    </div>

    <div class="header--block--input">
      <div class="header--block--input--icon">
        <img src="{{ site.baseurl }}/assets/img/icons/search-input.svg" width="30" alt="">
      </div>
      <input class="input-search" type="text" name="" value="" placeholder="Search for answers...">
    </div>

  </div>
</div>


</header>
