<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/the-grid-flexbox@2.0.1/css/the-grid.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ site.url }}">
  <link rel="base" href="{{ site.url }}"/>
  <meta name="author" content="{{ site.github }}">
  <meta name="robots" content="index/follow"/>
  <meta name="googlebot" content="index/follow"/>
  <meta name="theme-color" content="{{ site.colortheme }}"/>
  <meta name="msapplication-navbutton-color" content="{{ site.colortheme }}"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="{{ site.colortheme }}"/>
  <!-- Open Graph data -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <!-- <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images{{ page.image }}" /> -->
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="{{site.twitter_username}}">
  <!-- <meta name="twitter:image" content="{{page.image}}"> -->
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ site.title }}">
  <meta itemprop="description" content="{{ site.description }}">
  <!-- <meta itemprop="image" content="{{page.image}}"> -->
</head>
