.footer {
  min-height: 200px;
  background: #ececec;
  overflow: hidden;

  .footer--block {
    a {
      color: $colortheme;

      span {
        font-weight: bold;
      }
    }

    .by {
      a {
        color: #515151;
      }
    }
  }

  ul {
    list-style-type: none;
  }
}
