.lead {
  font-size: 1.25rem;
}

.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: 38rem){
    padding: 5rem 1rem;
  }
}

.masthead {

  &-title {
    font-weight: 300;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #ddd;
    }

  }

  &-title--small {
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .masthead-nav {
    margin-bottom: 2rem;

    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      + a {
        margin-left: .25rem;
      }
    }
  }

}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.list {
  &-post-title {
    margin: 1rem 0 .25rem;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-post-date {
    margin-bottom: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.projects-list {
  a {
    color: #333;
  }
}