---
---

$colortheme: {{ site.color_theme }};
$colortext: {{ site.color_text }};
$baseurl: '{{ site.baseurl }}';

@import "base";
@import "menu";
@import "header";
@import "footer";
@import "layout";
@import "icons";
@import "post";

$dark-blue: rgb(11,0,128);
$light-blue: rgb(51,204,255);

.post-title { margin-top: 15px; }
article p {
  a{
    @media (prefers-color-scheme: dark) {
      color: $light-blue;
    }
    @media (prefers-color-scheme: light) {
      color: $dark-blue;
    }
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $dark-blue;
    }
  }
}
