---
---

$colortheme: {{ site.color_theme }};
$colortext: {{ site.color_text }};
$baseurl: '{{ site.baseurl }}';

@import "base";
@import "menu";
@import "header";
@import "footer";
@import "layout";
@import "icons";
@import "post";

$dark-blue: rgb(11,0,128);

.post-title { margin-top: 15px; }
article p {
  a{
    color: $dark-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $dark-blue;
    }
  }
}
