@mixin scheme-mode-color($property, $value) {
  @media (prefers-color-scheme: dark) {
    @if $value == 'color' {
      color: #eee;
    }
    @if $value == 'background-color' {
      background-color: #111;
    }
  }
  @media (prefers-color-scheme: light) {
    @if $value == 'color' {
      color: #515151;
    }
    @if $value == 'background-color' {
      background-color: #fff;
    }
  }
}
