.content-post {
  min-height: calc(100vh - 480px);
  background: #f3f5f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
  border: 1px solid #c1c1c1;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0px;
  }

  &:hover {
    transition: 0.3s;
    border-color: var(--color-theme);
  }

  .list-item-icon {
    flex-basis: 100px;
    padding-right: 20px;
    font-size: 2rem;
    color: var(--color-theme);
  }

  .list-post-title {
    font-size: 22px;
    transition: 0.3s;
    color: var(--color-title);
  }
  .list-post-description {
    font-size: 16px;
  }

  .list-post-written {
    span {
      font-weight: bold;
    }
  }

  small {
    font-size: 12px;
    opacity: 0.7;
  }
}

.list-item-2 {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
  border: 1px solid #c1c1c1;
  padding: 40px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-bottom: 10px;
  overflow: hidden;
  &:hover {
    border-color: var(--color-theme);
    .list-post-title {
      color: var(--color-theme);
    }
  }

  .list-item-2-img {
    margin-right: 20px;
    @media screen and (max-width: 839px) {
      margin-right: 0;
      margin-top: 20px;
    }
  }
}

.post-title {
  margin-top: 15px;
  color: var(--color-title);
}

.post-list-tags {
  margin: 10px;
  .post-tag {
    padding: 5px 10px;
    color: white;
    background-color: var(--color-theme-grey);
    border-radius: 50px;
  }
}
